body{
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#name{
    text-align: center;
    margin: auto;
    width: 200px;
    font-size: 50px;
}

#desc{
    text-align: center;
    margin: auto;
    width: 200px;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 20px;
}

footer{
    text-align: center;
    margin: auto;
    width: 200px;
    margin-top: 30px;
}

img{
    height: 60%;
    width: 60%;
    margin: auto;
    display: block;
    border-style: solid;
    border-color: white;
}