body {
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'header header'
    'main section'
    'footer footer';
    justify-items: center;
    align-items: center;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    justify-self: end;
}

section {
    grid-area: section;
    justify-self: start;
}

footer {
    grid-area: footer;
    font-style: italic;
}